.title {
    font-size: rem(48px);
    font-weight: 900;

    @media (max-width: $mantine-breakpoint-sm) {
        font-size: rem(24px);
    }
}

.description {
    max-width: rem(600px);
    margin: auto;
    font-size: 22px;
    font-weight: 300;
    color: gray;
    /*&::after {*/
    /*    content: '';*/
    /*    display: block;*/
    /*    background-color: #000;*/
    /*    width: rem(45px);*/
    /*    height: rem(2px);*/
    /*    margin-top: var(--mantine-spacing-sm);*/
    /*    margin-left: auto;*/
    /*    margin-right: auto;*/
    /*}*/
}

.card {
    border: rem(1px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
    top: 30px;
    @media (max-width: $mantine-breakpoint-md) {
        align-content: center;
        width: 100%; /* Use full width for small screens */
        margin: auto;
        height: 200px;
    }

    @media (max-width: $mantine-breakpoint-sm) {
        align-content: center;
        width: 100%; /* Use full width for small screens */
        margin: auto;
        height: 200px;
    }
}

.card:last-child {
    margin-bottom: 30px;
}

.cardTitle {
    &::after {
        content: '';
        display: block;
        background-color: var(--mantine-color-blue-filled);
        width: rem(45px);
        height: rem(2px);
        margin-top: var(--mantine-spacing-sm);
    }
}

.container {
    margin: auto;
    align-items: center;
    align-content: center;
    @media (max-width: $mantine-breakpoint-md) {
        align-content: center;
        width: 100%; /* Use full width for small screens */
        max-width: 500px; /* Ensures it doesn't get too wide on larger screens */
    }
}